<!-- Popup que da dos opciones para elegir-->
<div *ngIf="visible" class="fixed inset-0 bg-black/30 flex items-center justify-center z-50">
  <div class="bg-white rounded-2xl shadow-xl w-[90%] max-w-md relative">

    <button (click)="handleOption1()" class="absolute top-4 right-4 text-2xl text-gray-600">
      <ion-icon name="close-outline"></ion-icon>
    </button>

    <div class="p-6 pt-10 text-center">
      <h2 class="text-minititle font-semibold text-gray-900 mb-2">{{title}}</h2>
      <p class="text-gray-700 mb-10">{{description}}</p>

      <span class="flex justify-center gap-x-4 items-center">

        <button (click)="handleOption1()"
          class="!border !border-gray-500 bg-white text-black font-semibold !py-5 !rounded-lg w-[175px] mx-auto block">
          {{option1Text}}
        </button>

        <button (click)="handleOption2()"
          class="[background-color:#F03D3E] text-white font-semibold !py-5 !rounded-lg w-[175px] mx-auto block">
          {{option2Text}}
        </button>
      </span>
    </div>
  </div>
</div>