<!-- Header -->
<div class="w-full bg-white shadow px-4 py-3 sticky top-0 z-50">
  <div class="flex items-center justify-between">
    <button (click)="openSideMenu()" class="text-2xl text-black">
      <ion-icon name="menu"></ion-icon>
    </button>
    <h1 class="text-title text-black font-bold">Categorías</h1>
    <button class="text-3xl text-black">
      <ion-icon name="add"></ion-icon>
    </button>
  </div>

  <!-- Barra de búsqueda con filtro -->
  <div class="mt-4 relative z-50">
    <!-- Botón de filtro -->

    <span class="absolute inset-y-0 left-1 flex items-center ml-2">
      <ion-icon name="search" class="text-xl text-purple-500"></ion-icon>
    </span>

    <!-- Botón de limpiar búsqueda -->
    <span *ngIf="searchTerm.trim() !== ''" class="absolute inset-y-0 right-10 flex items-center text-lg">
      <button class="text-gray-400" (click)="clearSearch()">
        <ion-icon name="close"></ion-icon>
      </button>
    </span>

    <!-- Input -->
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Buscar"
      (keyup.enter)="onSearchClick()"
      enterkeyhint="search"
      class="w-full pl-10 pr-10 py-2 rounded-full border border-purple-500 border-[3px] bg-white text-sm focus:outline-none focus:ring-2 focus:ring-blue-400 !text-black placeholder:text-gray-500"
    />

    <!-- Botón de búsqueda -->
    <span class="absolute inset-y-0 right-3 flex items-center text-xl">
      <button (click)="onSearchClick()" class="text-black">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>
    </span>
  </div>
</div>




<ion-content class="ion-padding">
  <div>
    <p *ngIf="!isSearch" class="font-bold text-base text-left mb-2 text-black">Listado de categorías</p>
  
    <!-- Grid de categorías -->
    <div class="grid grid-cols-1 gap-4">
      <div *ngFor="let category of categories" class="bg-white rounded-xl shadow px-4 py-5 border border-gray-600">
        <!-- Flex entre nombre y botones -->
        <div class="flex justify-between items-center">
          <p class="text-medium text-black">{{ category.name }}</p>
          
          <!-- Botones -->
          <div class="flex gap-5">
            <button class="text-gray-500 text-xl">
              <ion-icon name="create-outline"></ion-icon>
            </button>
            <button class="text-gray-500 text-xl">
              <ion-icon name="trash-outline"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Infinite scroll -->
  <ion-infinite-scroll class="text-black" threshold="100px" (ionInfinite)="loadCategories($event)" *ngIf="hasMore">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      class="infinite-scroll-custom"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="flex items-center justify-center h-[90%] w-full bg-white">
    <p *ngIf="!loading && categories.length === 0"
       class="text-center font-bold text-base text-gray-500">
      No hay resultados
    </p>
  </div>
  

</ion-content>

<!-- Side Menu -->
<app-sidemenu
  [isOpen]="isSideMenuOpen"
  [userName]="'Axel Dev'"
  [userImage]="'https://i.pravatar.cc/150?img=3'"
  (closeSidemenu)="closeSideMenu()"
  (goCategories)="closeSideMenu()"
  (logout)="logout()"
  (goProducts)="goProducts()"
  class="z-200"
></app-sidemenu>

<app-loading-overlay [isLoading]="logoutLoading" class="z-300"></app-loading-overlay>
