<!-- Página de detalle del producto-->

<!-- Header -->
<div class="w-full bg-gray-200 shadow px-4 py-4 sticky top-0 z-50 h-20">
  <div class="relative flex items-center justify-center">

    <button (click)="goBack()" class="absolute left-0 text-lg text-black">
      <ion-icon name="arrow-back"></ion-icon>
    </button>


    <h5 class="text-minititle text-black font-bold text-center">
      Detalle del producto
    </h5>

    <!-- Botón para editar producto-->
    <button (click)="goEdit()" class="absolute right-12 text-lg text-black">
      <ion-icon name="create-outline"></ion-icon>
    </button>

    <!-- Botón para eliminar producto-->
    <button (click)="tryDelete()" class="absolute right-2 text-lg text-red-500">
      <ion-icon name="trash-outline"></ion-icon>
    </button>
  </div>
</div>

<!-- Body -->
<ion-content [fullscreen]="true">

  <!-- Imagen del producto (si tiene)-->
  <div *ngIf="product" class="w-full aspect-square overflow-hidden rounded-lg">
    <img [src]="product.image ? storagePrefix + product.image : 'assets/no-image.svg'" alt="Preview"
      class="w-full h-full object-cover object-center" />
  </div>

  <div class="relative bg-white px-6 py-6" *ngIf="product">
    <!-- Nombre del producto -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Nombre del producto</label>
      <p class="text-black mb-5 text-product">{{ product.name }}</p>
    </div>

    <!-- Precio del producto-->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Precio</label>
      <p class="text-black mb-5">CLP {{ product.price | number:'1.0-0' }}</p>
    </div>

    <!-- Categoría del producto-->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Categoría</label>
      <p class="text-black mb-5">{{ product.category?.name || 'Sin categoría' }}</p>
    </div>

    <!-- Descripción del producto-->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Descripción</label>
      <p class="text-black mb-5 min-h-0">{{ product.description || 'Sin descripción' }}</p>
    </div>
  </div>

</ion-content>

<!-- Popup de eliminación de producto -->
<app-choose-popup [title]="popupTitle" [description]="popupDescription" [option1Text]="option1Text"
  [option2Text]="option2Text" [visible]="showChoosePopup" (onOption1)="selectOption1()"
  (onOption2)="selectOption2()"></app-choose-popup>

<!-- Popup simple -->
<app-popup [title]="popupTitle" [description]="popupDescription" [buttonText]="option1Text"
  [visible]="showSimplePopup" (onConfirm)="selectOption1()"></app-popup>

<!-- Cover Loading-->
<app-loading-overlay [isLoading]="loading" class="z-300"></app-loading-overlay>