<!-- Header -->
<div class="w-full bg-gray-200 shadow px-4 py-4 sticky top-0 z-50 h-20">
  <div class="relative flex items-center justify-center">
    <!-- Botón a la izquierda -->
    <button (click)="goBack()" class="absolute left-0 text-lg text-black">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <!-- Título centrado -->
    <h5 class="text-minititle text-black font-bold text-center">
      Agregar categoría
    </h5>
  </div>
</div>

<ion-content [fullscreen]="true">
  <div class="relative h-full bg-white px-6 pt-6 pb-32">
    <!-- Formulario reactivo -->
    <form [formGroup]="categoryAddForm" (ngSubmit)="addCategory()" class="space-y-6">

      <!-- Nombre -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">Nombre de la categoría</label>
        <input type="text" formControlName="name"
          class="h-12 w-full px-4 py-2 border border-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-400 !text-black" />
        <div
          *ngIf="categoryAddForm.get('name')?.errors && (categoryAddForm.get('name')?.touched || categoryAddForm.get('name')?.dirty)"
          class="text-red-600 text-xs mt-1">
          <div *ngIf="categoryAddForm.get('name')?.errors?.['required']">El nombre es obligatorio.</div>
          <div *ngIf="categoryAddForm.get('name')?.errors?.['maxlength']">Máx. 30 caracteres.</div>
        </div>
      </div>

      <!-- Espacio para evitar que el botón tape campos en pantallas pequeñas -->
      <div class="h-20"></div>
    </form>

    <!-- Botón de Agregar Categoría (pegado abajo) -->
    <div class="absolute bottom-6 left-6 right-6">
      <button type="submit" [disabled]="categoryAddForm.invalid || loading" (click)="addCategory()"
        class="!rounded-lg bg-fuchsia-900 text-white py-3 w-full h-12 flex items-center justify-center disabled:bg-gray-300">
        <ng-container *ngIf="!loading; else loadingTemplate">Guardar</ng-container>

        <ng-template #loadingTemplate>
          <ion-spinner name="crescent" color="light"></ion-spinner>
        </ng-template>
      </button>
    </div>
  </div>
</ion-content>

<app-popup [title]="popupTitle" [description]="popupDescription" [buttonText]="popupButtonText"
  [headerColor]="popupHeaderColor" [visible]="showPopup" (onConfirm)="handlePopupAction()"></app-popup>

<app-loading-overlay [isLoading]="loading" class="z-300"></app-loading-overlay>
